.collection-list {
  container-type: inline-size;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: .25rem;
}

@container (min-width: 554px) {
  .collection-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@container (min-width: 839px) {
  .collection-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (min-width: 1124px) {
  .collection-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@container (min-width: 1594px) {
  .collection-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
