.link {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: var(--radius-interactive);
  transition: all 0.2s ease-in-out;

  &:hover,
  &[aria-expanded='true'] {
    background-color: var(--background-highlight);
    color: var(--text-heading);
  }

  &.brand {
    color: var(--text-heading);
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  }

  &.active {
    color: var(--text-interactive);

    &:hover {
      background-color: var(--background-interactive-highlight);
      color: var(--text-interactive);
    }
  }

  [class*='icon'] {
    &:only-child {
      margin: 0 -0.5rem;
    }

    &:first-child {
      margin-left: -0.5rem;
    }

    &:last-child {
      margin-right: -0.5rem;
    }
  }

  [class*='avatar'] {
    margin: -0.25rem 0;

    &:first-child {
      margin-left: -0.5rem;
    }

    &:last-child {
      margin-right: -0.5rem;
    }
  }
}
