.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 500;
  font-size: 0.875rem;
}

.textarea {
  width: 100%;
  min-height: 7.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-interactive);
  border: var(--stroke-thin) solid var(--border-default);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font-interface);
  resize: vertical;

  &:focus {
    border: var(--stroke-thin) solid var(--border-active);
    outline-color: var(--surface-interactive);
    outline-offset: 0.125rem;
    outline-width: var(--stroke-thin);
    outline-style: dashed;
  }
}
