.container {
  container-type: inline-size;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 250;
}

.content {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 1rem;
  gap: 3rem;

  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

@container (min-width: 500px) {
  .content {
    max-width: 500px;
  }
}

@container (min-width: 570px) {
  .content {
    max-width: 570px;
  }
}

@container (min-width: 855px) {
  .content {
    max-width: 855px;
  }
}

@container (min-width: 1140px) {
  .content {
    max-width: 1140px;
  }
}

// @container (min-width: 1429px) {
//   .content {
//     max-width: 1429px;
//   }
// }

@container (min-width: 2057px) {
  .content {
    max-width: 1718px;
  }
}
