/* 00. Primitives */

:root {
  --font-interface: "IBM Plex Sans", Helvetica, sans-serif;
  --font-headers: "Space Grotesk", sans-serif;

  --stroke-none: 0;
  --stroke-thin: 1px;
  --stroke-thick: 2px;

  --radius-none: 0;
  --radius-sm: 0.25rem;
  --radius-interactive: 0.5rem;
  --radius-surface: 1rem;
  --radius-popover: 1rem;
  --radius-full: 16rem;

  --color-black: hsl(0, 0%, 0%);
  --color-black-op10: hsla(0, 0%, 0%, 0.1);
  --color-black-op20: hsla(0, 0%, 0%, 0.2);
  --color-black-op30: hsla(0, 0%, 0%, 0.3);
  --color-black-op40: hsla(0, 0%, 0%, 0.4);
  --color-black-op50: hsla(0, 0%, 0%, 0.5);
  --color-black-op60: hsla(0, 0%, 0%, 0.6);
  --color-black-op70: hsla(0, 0%, 0%, 0.7);
  --color-black-op80: hsla(0, 0%, 0%, 0.8);
  --color-black-op90: hsla(0, 0%, 0%, 0.9);

  --color-white: hsl(0, 0%, 100%);
  --color-white-op10: hsla(0, 0%, 100%, 0.1);
  --color-white-op20: hsla(0, 0%, 100%, 0.2);
  --color-white-op30: hsla(0, 0%, 100%, 0.3);
  --color-white-op40: hsla(0, 0%, 100%, 0.4);
  --color-white-op50: hsla(0, 0%, 100%, 0.5);
  --color-white-op60: hsla(0, 0%, 100%, 0.6);
  --color-white-op70: hsla(0, 0%, 100%, 0.7);
  --color-white-op80: hsla(0, 0%, 100%, 0.8);
  --color-white-op90: hsla(0, 0%, 100%, 0.9);

  --color-grey-hue: 0;
  --color-grey-saturation: 0%;

  --color-grey-050: hsl(0, 0%, 94%);
  --color-grey-100: hsl(0, 0%, 88%);
  --color-grey-200: hsl(0, 0%, 84%);
  --color-grey-300: hsl(0, 0%, 73%);
  --color-grey-400: hsl(0, 0%, 47%);
  --color-grey-500: hsl(0, 0%, 27%);
  --color-grey-600: hsl(0, 0%, 19%);
  --color-grey-700: hsl(0, 0%, 16%);
  --color-grey-800: hsl(0, 0%, 13%);
  --color-grey-900: hsl(0, 0%, 7%);
  --color-grey: var(--color-grey-500);

  --color-purple-hue: 245;
  --color-purple-saturation: 100%;

  --color-purple-050: hsl(245, 100%, 97%);
  --color-purple-100: hsl(245, 100%, 92%);
  --color-purple-200: hsl(245, 100%, 87%);
  --color-purple-300: hsl(245, 100%, 82%);
  --color-purple-400: hsl(245, 100%, 75%);
  --color-purple-500: hsl(245, 100%, 68%);
  --color-purple-600: hsl(245, 100%, 45%);
  --color-purple-700: hsl(245, 100%, 38%);
  --color-purple-800: hsl(245, 100%, 31%);
  --color-purple-900: hsl(245, 100%, 18%);
  --color-purple-op05: hsla(245, 100%, 52%, 0.05);
  --color-purple-op10: hsla(245, 100%, 52%, 0.1);
  --color-purple-op20: hsla(245, 100%, 52%, 0.2);
  --color-purple-op30: hsla(245, 100%, 52%, 0.3);
  --color-purple-op40: hsla(245, 100%, 52%, 0.4);
  --color-purple-op50: hsla(245, 100%, 52%, 0.5);
  --color-purple-op60: hsla(245, 100%, 52%, 0.6);
  --color-purple-op70: hsla(245, 100%, 52%, 0.7);
  --color-purple-op80: hsla(245, 100%, 52%, 0.8);
  --color-purple-op90: hsla(245, 100%, 52%, 0.9);
  --color-purple: var(--color-purple-500);

  --color-blue-hue: 208;
  --color-blue-saturation: 86%;

  --color-blue-050: hsl(208, 86%, 97%);
  --color-blue-100: hsl(208, 86%, 92%);
  --color-blue-200: hsl(208, 86%, 84%);
  --color-blue-300: hsl(208, 86%, 74%);
  --color-blue-400: hsl(208, 86%, 62%);
  --color-blue-500: hsl(208, 86%, 52%);
  --color-blue-600: hsl(208, 86%, 45%);
  --color-blue-700: hsl(208, 86%, 38%);
  --color-blue-800: hsl(208, 86%, 31%);
  --color-blue-900: hsl(208, 86%, 18%);
  --color-blue-op05: hsla(208, 86%, 52%, 0.05);
  --color-blue-op10: hsla(208, 86%, 52%, 0.1);
  --color-blue-op20: hsla(208, 86%, 52%, 0.2);
  --color-blue-op30: hsla(208, 86%, 52%, 0.3);
  --color-blue-op40: hsla(208, 86%, 52%, 0.4);
  --color-blue-op50: hsla(208, 86%, 52%, 0.5);
  --color-blue-op60: hsla(208, 86%, 52%, 0.6);
  --color-blue-op70: hsla(208, 86%, 52%, 0.7);
  --color-blue-op80: hsla(208, 86%, 52%, 0.8);
  --color-blue-op90: hsla(208, 86%, 52%, 0.9);
  --color-blue: var(--color-blue-500);

  --color-cyan-hue: 186;
  --color-cyan-saturation: 82%;

  --color-cyan-050: hsl(186, 82%, 97%);
  --color-cyan-100: hsl(186, 82%, 92%);
  --color-cyan-200: hsl(186, 82%, 84%);
  --color-cyan-300: hsl(186, 82%, 74%);
  --color-cyan-400: hsl(186, 82%, 61%);
  --color-cyan-500: hsl(186, 82%, 49%);
  --color-cyan-600: hsl(186, 82%, 42%);
  --color-cyan-700: hsl(186, 82%, 35%);
  --color-cyan-800: hsl(186, 82%, 28%);
  --color-cyan-900: hsl(186, 82%, 17%);
  --color-cyan-op05: hsla(186, 82%, 49%, 0.05);
  --color-cyan-op10: hsla(186, 82%, 49%, 0.1);
  --color-cyan-op20: hsla(186, 82%, 49%, 0.2);
  --color-cyan-op30: hsla(186, 82%, 49%, 0.3);
  --color-cyan-op40: hsla(186, 82%, 49%, 0.4);
  --color-cyan-op50: hsla(186, 82%, 49%, 0.5);
  --color-cyan-op60: hsla(186, 82%, 49%, 0.6);
  --color-cyan-op70: hsla(186, 82%, 49%, 0.7);
  --color-cyan-op80: hsla(186, 82%, 49%, 0.8);
  --color-cyan-op90: hsla(186, 82%, 49%, 0.9);
  --color-cyan: var(--color-cyan-500);

  --color-green-hue: 154;
  --color-green-saturation: 68%;

  --color-green-050: hsl(154, 68%, 97%);
  --color-green-100: hsl(154, 68%, 92%);
  --color-green-200: hsl(154, 68%, 84%);
  --color-green-300: hsl(154, 68%, 74%);
  --color-green-400: hsl(154, 68%, 61%);
  --color-green-500: hsl(154, 68%, 48%);
  --color-green-600: hsl(154, 68%, 41%);
  --color-green-700: hsl(154, 68%, 34%);
  --color-green-800: hsl(154, 68%, 27%);
  --color-green-900: hsl(154, 68%, 16%);
  --color-green-op05: hsla(154, 68%, 48%, 0.05);
  --color-green-op10: hsla(154, 68%, 48%, 0.1);
  --color-green-op20: hsla(154, 68%, 48%, 0.2);
  --color-green-op30: hsla(154, 68%, 48%, 0.3);
  --color-green-op40: hsla(154, 68%, 48%, 0.4);
  --color-green-op50: hsla(154, 68%, 48%, 0.5);
  --color-green-op60: hsla(154, 68%, 48%, 0.6);
  --color-green-op70: hsla(154, 68%, 48%, 0.7);
  --color-green-op80: hsla(154, 68%, 48%, 0.8);
  --color-green-op90: hsla(154, 68%, 48%, 0.9);
  --color-green: var(--color-green-500);

  --color-yellow-hue: 45;
  --color-yellow-saturation: 93%;

  --color-yellow-050: hsl(55, 92%, 95%);
  --color-yellow-100: hsl(55, 97%, 88%);
  --color-yellow-200: hsl(53, 98%, 77%);
  --color-yellow-300: hsl(50, 98%, 64%);
  --color-yellow-400: hsl(48, 96%, 53%);
  --color-yellow-500: hsl(45, 93%, 47%);
  --color-yellow-600: hsl(41, 96%, 40%);
  --color-yellow-700: hsl(35, 92%, 33%);
  --color-yellow-800: hsl(32, 81%, 29%);
  --color-yellow-900: hsl(28, 73%, 26%);
  --color-yellow-op05: hsla(45, 93%, 47%, 0.05);
  --color-yellow-op10: hsla(45, 93%, 47%, 0.1);
  --color-yellow-op20: hsla(45, 93%, 47%, 0.2);
  --color-yellow-op30: hsla(45, 93%, 47%, 0.3);
  --color-yellow-op40: hsla(45, 93%, 47%, 0.4);
  --color-yellow-op50: hsla(45, 93%, 47%, 0.5);
  --color-yellow-op60: hsla(45, 93%, 47%, 0.6);
  --color-yellow-op70: hsla(45, 93%, 47%, 0.7);
  --color-yellow-op80: hsla(45, 93%, 47%, 0.8);
  --color-yellow-op90: hsla(45, 93%, 47%, 0.9);
  --color-yellow: var(--color-yellow-500);

  --color-orange-hue: 25;
  --color-orange-saturation: 95%;

  --color-orange-050: hsl(33, 100%, 96%);
  --color-orange-100: hsl(34, 100%, 92%);
  --color-orange-200: hsl(32, 98%, 83%);
  --color-orange-300: hsl(31, 97%, 72%);
  --color-orange-400: hsl(27, 96%, 61%);
  --color-orange-500: hsl(25, 95%, 53%);
  --color-orange-600: hsl(21, 90%, 48%);
  --color-orange-700: hsl(17, 88%, 40%);
  --color-orange-800: hsl(15, 79%, 34%);
  --color-orange-900: hsl(15, 75%, 28%);
  --color-orange-op05: hsla(25, 95%, 53%, 0.05);
  --color-orange-op10: hsla(25, 95%, 53%, 0.1);
  --color-orange-op20: hsla(25, 95%, 53%, 0.2);
  --color-orange-op30: hsla(25, 95%, 53%, 0.3);
  --color-orange-op40: hsla(25, 95%, 53%, 0.4);
  --color-orange-op50: hsla(25, 95%, 53%, 0.5);
  --color-orange-op60: hsla(25, 95%, 53%, 0.6);
  --color-orange-op70: hsla(25, 95%, 53%, 0.7);
  --color-orange-op80: hsla(25, 95%, 53%, 0.8);
  --color-orange-op90: hsla(25, 95%, 53%, 0.9);
  --color-orange: var(--color-orange-500);

  --color-red-hue: 0;
  --color-red-saturation: 84%;

  --color-red-050: hsl(0, 86%, 97%);
  --color-red-100: hsl(0, 93%, 94%);
  --color-red-200: hsl(0, 96%, 89%);
  --color-red-300: hsl(0, 94%, 82%);
  --color-red-400: hsl(0, 91%, 71%);
  --color-red-500: hsl(0, 84%, 60%);
  --color-red-600: hsl(0, 72%, 51%);
  --color-red-700: hsl(0, 74%, 42%);
  --color-red-800: hsl(0, 70%, 35%);
  --color-red-900: hsl(0, 63%, 31%);
  --color-red-op05: hsla(0, 84%, 60%, 0.05);
  --color-red-op10: hsla(0, 84%, 60%, 0.1);
  --color-red-op20: hsla(0, 84%, 60%, 0.2);
  --color-red-op30: hsla(0, 84%, 60%, 0.3);
  --color-red-op40: hsla(0, 84%, 60%, 0.4);
  --color-red-op50: hsla(0, 84%, 60%, 0.5);
  --color-red-op60: hsla(0, 84%, 60%, 0.6);
  --color-red-op70: hsla(0, 84%, 60%, 0.7);
  --color-red-op80: hsla(0, 84%, 60%, 0.8);
  --color-red-op90: hsla(0, 84%, 60%, 0.9);
  --color-red: var(--color-red-500);
}
