.header {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 1.5rem;
  padding: 0 0.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 0.5rem;
}

.actions {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 0.5rem;
}

.likeSection {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 0.5rem;
  align-items: center;
}
