.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  color: var(--text-muted);
}

.small {
  font-size: 0.875rem;
  line-height: 1rem;
}

.base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.muted {
  color: var(--text-muted);
}

.featured {
  color: var(--text-type-featured);
}

.popular {
  color: var(--text-type-popular);
}

.trending {
  color: var(--text-type-trending);
}

.visibility,
.pinned,
.shared,
.tag,
.handle {
  color: var(--text-body);

  .icon {
    color: var(--text-muted);
  }
}
