.header {
  position: sticky;
  top: 56px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: -0.5rem;

  background: var(--surface-background);
}

.heading {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.heading__title {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.heading__more {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--text-muted);
  padding: 0.25rem 0.5rem;
  margin: 0 -0.5rem;
  border-radius: var(--radius-interactive);
  align-items: center;
  text-decoration: none;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: var(--surface-highlight);
    text-decoration: none;
    color: var(--text-heading);
  }
}
